@charset "UTF-8";

/* =============================== */
/* ==Created by Jay Randolph for== */
/* ======COMP 426: Fall 2017====== */
/* =============================== */

/* ======= CSS3 ANIMATIONS ======= */
	@keyframes titleAnimation {
		from {color: #E2BB61;}
		to {color: #BE7D3F;}
	}

	@keyframes titleAnimationFamily {
		from {color: #0A0F1C;}
		to {color: #0A2F86;}
	}

	@keyframes titleAnimationNorth {
		from {color: #E2BB61;}
		to {color: #BE7D3F;}
	}

	@keyframes doveAnimation {
		from {left: -19%;}
		to {left: 110%;}
	}

	@keyframes doveUpDown {
		from {top: 70px;}
		to {top: 85px;}
	}

	@keyframes doveMessageAnimation {
		from {left: -10%;}
		to {left: 115%;}
	}

	@keyframes centerAnimationFamily {
		from {margin-left: -100%; opacity: 0;}
		to {margin-left: 0%; opacity: 1;}
	}

	@keyframes centerAnimationHome {
		from {margin-top: 100%; opacity: 0;}
		to {margin-top: -80px; opacity: 1;}
	}

	@keyframes centerAnimationNorth {
		from {margin-left: 100%; opacity: 0;}
		to {margin-left: 0%; opacity: 1;}
	}

	@keyframes fireA {
		from {opacity: 0.7;}
		to {opacity: 0.4;}
	}

	@keyframes fireB {
		from {opacity: 0.5;}
		to {opacity: 0.7;}
	}

	@keyframes fire2 {
		from {opacity: 0.8;}
		to {opacity: 0.6;}
	}

/* ======= BODY STYLES ======= */
	body {
		background-color: #000000;
		background-image: url(images/castle-interior.jpg);
		background-origin: content-box;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-attachment: fixed;
		text-align: center;
	}

	#north-body {
		background-image: url(images/north-kingsroad.jpg);
	}

	#body-family {
		background-image: url(images/winterfell-in-snow.jpg);
	}

/* ======= TITLES ======= */

	#title {
		position: relative;
		font-family: MedievalSharp, serif;
		color: #E2BB61;
		top: 4px;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		font-size: 30px;
		z-index: -50;
		padding: 5px;
		border: 5px groove #6F3D26;
		border-bottom-right-radius: 0px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 0px;

		/* ANIMATION */

		animation-name: titleAnimation;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;


	}

	#title-bibliography {
		position: relative;
		font-family: MedievalSharp, serif;
		color: #E2BB61;
		top: 45px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		font-size: 30px;
		z-index: -50;

		/* ANIMATION */

		animation-name: titleAnimation;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
	}

	#title-north {
		position: absolute;
		font-family: MedievalSharp, serif;
		color: #E2BB61;
		top: 45px;
		margin-left: -70px;
		font-size: 30px;
		z-index: -50;

		/* ANIMATION */

		animation-name: titleAnimationNorth;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
	}

	#title-family {
		position: relative;
		font-family: MedievalSharp, serif;
		color: #E2BB61;
		top: 45px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
		font-size: 30px;
		z-index: -50;

		/* ANIMATION */

		animation-name: titleAnimationFamily;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
	}

/* ======= NAVIGATION BUTTONS ======= */
	.button {
		position: fixed;
		display: table;
		font-family: MedievalSharp, serif;
		font-weight: bold;
		width: 100px;
		height: 55px;
		color: #000;
		top: 35px;
		z-index: 900;
		border-radius: 0px;
		background-image: url(images/scroll.png);
		background-origin: content-box;
		background-repeat: no-repeat;
		background-size: 100px 55px;	
	}

	.button:hover {
		top: 32.5px;
		height: 60px;
		width: 105px;
		background-size: 105px 60px;
	}

	.button-text {
		display: table-cell;
		vertical-align: middle;
	}

	#family-button {
		left: 40px;
	}

	#family-home-button {
		right: 40px;
	}

	#family-home-button:hover {
		right: 37.5px;
	}

	#family-button:hover {
		left: 37.5px;
	}

	#north-button {
		right: 40px;
	}

	#north-button:hover {
		right: 37.5px;
	}

/* ======= FLYING DOVE ======= */

	#dove {
		width: 100px;
		height: auto;
		position: fixed;
		opacity: 1.0;
		top: 10px;
		left: -19%;
		z-index: 1000;
		-ms-transform: rotate(20deg); /* IE 9 */
		-webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
		transform: rotate(20deg);

		/* ANIMATION */

		animation-name: doveAnimation, doveUpDown;
		animation-duration: 12s, 0.7s;
		animation-iteration-count: infinite;
		animation-direction: normal, alternate;
		animation-timing-function: ease-in-out;
	}

	#dovable:hover > img {
		-ms-transform: rotate(10deg); /* IE 9 */
		-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
		transform: rotate(10deg);
		animation-play-state: paused, running;
	}

	#dovable:hover > text {
		-ms-transform: rotate(8deg); /* IE 9 */
		-webkit-transform: rotate(8deg); /* Chrome, Safari, Opera */
		transform: rotate(8deg);
		animation-play-state: paused;
		opacity: 1.0;
	}

	#dove-message {
		position: fixed;
		color: #FFF;
		opacity: 0.0;
		top: 150px;
		left: -10%;
		z-index: 1001;
		-ms-transform: rotate(20deg); /* IE 9 */
		-webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
		transform: rotate(20deg);
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 10px;

		/* ANIMATION */

		animation-name: doveMessageAnimation;
		animation-duration: 12s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-timing-function: ease-in-out;
	}

/* ======= CENTRAL CONTENT ======= */

	#center-content-family {
		width: 100%;
		height: 100%;
		margin: auto;

		/* ANIMATION */

		animation-name: centerAnimationFamily;
		animation-duration: 1s;
		animation-direction: normal;
		animation-timing-function: ease-out;
	}



	#center-content-home {
		width: 100%;
		height: 100%;
		margin: auto;
		margin-top: -80px;

		/* ANIMATION */

		animation-name: centerAnimationHome;
		animation-duration: 1.3s;
		animation-direction: normal;
		animation-timing-function: ease-out;
	}


	#center-content-north {
		width: 100%;
		height: 100%;
		margin: auto;

		/* ANIMATION */

		animation-name: centerAnimationNorth;
		animation-duration: 1.3s;
		animation-direction: normal;
		animation-timing-function: ease-out;
	}

	#house-stark {
		position: absolute;
		top: 150px;
		margin: auto auto auto 20px;
		width: 250px;
		height: auto;
		z-index: 10;
	}

	#ned-stark-frame {
		position: relative;
		top: 100px;
		margin: auto;
		width: 295px;
		height: auto;
		z-index: 10;
	}

	#ned-stark-frame-family {
		position: relative;
		top: 400px;
		margin: auto;
		width: 295px;
		height: auto;
		z-index: 10;
	}

	#ned-stark-north-frame {
		position: relative;
		display: block;
		top: 0px;
		margin: auto;
		width: 295px;
		height: auto;
		z-index: 10;
	}

	#north-frame {
		position: relative;
		display: inline-block;
		top: 100px;
		margin: auto;
		width: 600px;
		height: auto;
		z-index: 10;
	}

	#home-content-pane {
		background-color: #EDC56E;
		background-image: url(images/parchment-texture.jpg);
		background-origin: content-box;
		background-repeat: no-repeat;
		background-size: 285px;
		position: relative;
		top: 65px;
		margin: auto;
		width: 280px;
		height: 280px;
		z-index: 9;
		margin-bottom: 0px;
	}

	#home-content-pane-family {
		background-color: #EDC56E;
		background-image: url(images/parchment-texture.jpg);
		background-origin: content-box;
		background-repeat: no-repeat;
		background-size: 285px;
		position: relative;
		top: 370px;
		margin: auto;
		width: 280px;
		height: 280px;
		z-index: 9;
		margin-bottom: 0px;
	}

	#home-content {
		text-align: justify;
		width: 92%;
		height: 80%;
		font-family: 'IM Fell English', serif, MedievalSharp;
		color: #24160D;
		font-size: 16px;
		font-weight: 900;
		padding: 30px 20px 10px 10px;
		word-wrap: normal;
		overflow-y: auto;
	}

	#ned-stark-frame-bottom {
		position: relative;
		top: -6px;
		margin: auto;
		left: -1px;
		width: 335px;
		height: auto;
		z-index: 11;
	}

	#ned-stark-frame-bottom-family {
		position: relative;
		top: 300px;
		margin: auto;
		left: -1px;
		width: 335px;
		height: auto;
		z-index: 10;
	}

	#north-right-pane {
		width: auto;
		height: auto;
		display: inline-block;
		position: relative;
		margin: auto auto auto 50px;
		top: -135px;
	}

	#home-content-north-pane {
		background-color: #EDC56E;
		background-image: url(images/parchment-texture.jpg);
		background-origin: content-box;
		background-repeat: no-repeat;
		background-size: 285px;
		position: relative;
		display: block;
		top: -25px;
		margin: auto;
		width: 280px;
		height: 280px;
		z-index: 9;
		margin-bottom: 0px;
	}

	#home-north-content {
		text-align: justify;
		width: 92%;
		height: 80%;
		font-family: 'IM Fell English', serif, MedievalSharp;
		color: #24160D;
		font-size: 16px;
		font-weight: 900;
		padding: 30px 20px 10px 10px;
		word-wrap: normal;
		overflow-y: auto;
	}

	#ned-stark-frame-north-bottom {
		position: relative;
		display: block;
		top: -100px;
		margin: auto;
		left: -1px;
		width: 335px;
		height: auto;
		z-index: 11;
	}

	/* HIDE SCROLLBARS */

	#home-content::-webkit-scrollbar { 
		display: none; 
	}

	#home-north-content::-webkit-scrollbar { 
		display: none; 
	}

	body::-webkit-scrollbar { 
		display: none; 
	}

/* ======= CANDLES AND FIRELIGHT ======= */

	.candle-image {
		width: 60px;
		height: auto;
		position: fixed;
		bottom: 0;
		opacity: 0.9;
		z-index: 200;
	}

	#candle-left {
		left: -5px;
	}

	#candle-right {
		right: -5px;
	}

	.firelight {

		/* GRADIENT */

		background: #774617; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #774617 0%, rgba(0,0,0,0) 70%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, #774617 0%, rgba(0,0,0,0) 70%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, #774617 0%, rgba(0,0,0,0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

		/* POSITION/SIZE */

		width: 110%;
		height: 60%;
		position: fixed;
		bottom: -30%;
		z-index: 190;
	}

	.firelight2 {

		/* GRADIENT */

		background: #774617; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #774617 0%, rgba(0,0,0,0) 60%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover, #774617 0%, rgba(0,0,0,0) 60%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center, #774617 0%, rgba(0,0,0,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

		/* POSITION/SIZE */

		width: 90%;
		height: 50%;
		position: fixed;
		bottom: -25%;
		z-index: 190;

		/* ANIMATION */

		animation-name: fire2;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	#firelight-left {
		left: -60%;

		/* ANIMATION */

		animation-name: fireA;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	#firelight-right {
		right: -60%;

		/* ANIMATION */

		animation-name: fireB;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	#firelight2-left {
		left: -60%;
	}

	#firelight2-right {
		right: -60%;
	}

/* ======= RANDOM OTHER CRAP ======= */

	#biblio {
		position: relative;
		bottom: 5px;
		margin: auto;
		font-family: 'IM Fell English', serif, MedievalSharp;
		font-size: 12px;
		color: #E2BB66;
		z-index: 200;
		padding: 5px 8px 5px 8px;
		border: thin dashed #E2BB66;
	}

	li > a {
		font-size: 12px;
		margin-left: 0px;
	}

	li {
		padding-left: 0px;
	}

/* ======= I've included these random ======= */
/* ======= selectors because I didn't ======= */
/* ======= need more than ~7ish unique ====== */
/* ======= types of selectors, but the ====== */
/* ======= instructions were unclear  ======= */
/* ======= about whether we needed 10 ======= */
/* ======= selected elements in general ===== */
/* ======= or 10 *unique types* of    ======= */
/* ======= selections................ ======= */

	* {
		/* All elements */
	}

	div, a {
		/* divs and links */
	}

	div ~ img {
		/* images preced by divs */
	}

	div:first-child {
		/* divs that are first children */
	}

	:root {
		/* document root */
	}

